.ant-table-pagination.ant-pagination {
    float: right;
    margin-right: 0px !important;
}

.ant-pagination-options-size-changer.ant-select {
    display: inline-block;
    width: auto;
    margin-right: 0px !important;
}

.ant-pagination-options-size-changer.ant-select {
    display: inline-block;
    width: auto;
    margin-right: 0px !important;
}

.ant-table-thead>tr>th {
    background-color: #F6FBFF !important;
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background: #1890ff !important;
    color: #fff !important;
    border: 1px solid #1890ff !important;
}

.ant-menu-submenu-title {
    text-align: left!important;
}

.ant-menu-item {
    text-align: left!important;
}

.ant-descriptions-item-content {
    width: 40%;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-align: left !important;
}

.table_scoll .ant-table-header::-webkit-scrollbar {
    display: none;
}

.table_scoll .ant-table-header {
    margin-bottom: 0 !important;
}

.table_scoll .ant-table-body::-webkit-scrollbar {
    display: block;
    width: 0;
    height: 7px;
}